<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
	    <meta name="apple-mobile-web-app-capable" content="yes">
	    <meta name="apple-mobile-web-app-status-bar-style" content="black">
	    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
	    <link rel="stylesheet" type="text/css" href="../css/scroll.css">
	    <link rel="stylesheet" type="text/css" href="../css/visit.css">
	</head>
	<body>
		<div class="container" id="head">
	        <div id="top">
	          	
	        </div>
	    </div>
	    <div id="wrapper">
	        <div id="scroller">
	            <div id="pullDown">
	                <span class="pullDownIcon"></span><span class="pullDownLabel">下拉刷新...</span>
	            </div>
	            <div id="main" class="container">
	            </div>
	        </div>
	    </div>
	    <script type="text/x-handlebars-template" id="ranktop">
	        <div id="topL" name="tplTop" class="top topL bw" >昨日排行{{yesterdaycount}}</div>
	        <div id="topR" name="tplTop" class="topR" >本月排行{{monthcount}}</div>
	        <div class="clear"></div>
	    </script>
	    <script type="text/x-handlebars-temlate" id="forday">
	        {{#each this}}
	        <div class="divt divi {{mystyle}}">
	            <div class="divr row clearfix">
	                <div class="div1 divc">
	                    <div class="divit">
	                        <div class="divc">
	                            {{rankimg}}
	                        </div>
	                    </div>
	                </div>
	                <div class="div2 divc">
	                    <div class="divit">
	                        <div class="divc">
	                            {{logourl}}
	                        </div>
	                    </div>
	                </div>
	                <div class="div3 divc">
	                    <div class="name fw">{{this.username}}</div>
	                    <div class="goal grey">目标{{this.plancount}}家</div>
	                    <div class="sale grey">完成率{{this.scale}}</div>
	                    <div class="clearfix"></div>
	                    <div class="progress pg">
	                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{this.scale}};">
	                            <span class="sr-only">{{this.scale}}完成（警告）</span>
	                        </div>
	                    </div>
	                </div>
	                <!--<div class="div4 divc">
	                    <div class="divit">
	                        <div class="divc"><span class="font"></span></div>
	                    </div>
	                </div>-->
	            </div>
	        </div>
	        {{/each}}
	    </script>
	    <script type="text/javascript" defer="defer" src="../js/jquery.js"></script>
	    <script type="text/javascript" defer="defer" src="../js/composite.js"></script>
	    <script type="text/javascript" defer="defer" src="../js/common.js"></script>
	    <script type="text/javascript" defer="defer" src="../js/salemanvisit.js"></script>
	</body>
</html>
